.admin-page {
    display: flex;
    justify-content: center;
    padding: 80px 0px 10px 0px;
    background: #656057;
}

.admin-context {
    min-height: calc(100vh - 100px);
    background: white;
    width: 70%;
}

.possibilities {
    background: #b3a896;
    display: flex;
    margin: 15px;
    font-size: 20px;
    font-family: system-ui;
    justify-content: space-around;
    padding: 15px;
}

.possibility{
    cursor: pointer;
}

.editor {
    margin: 15px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.size-input{
    cursor: pointer;
}
