.menu-page {
    background: url(/images/cafe-menu.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 80px 0px 10px 0px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.menu-page-central-block {
    width: 55%;
    background: white;
}

    .menu-page-central-block .menu-title {
        display: flex;
        justify-content: center;
        margin: 20px 0px 40px 0px;
        font-family: 'Sakura';
        font-size: 80px;
    }

.categories {
    position: fixed;
    margin: 10px;
    font-size: 25px;
    font-family: 'Sakura';
}

.category-name {
    margin: 15px 0px;
    background: wheat;
    padding: 5px 10px 0px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.category-name-block {
    display: flex;
    flex-direction: column;
}

.not-active {
    background: #f9f1e1;
}

.active {
    background: #ffd991;
}

.dishes {
    margin: 0px 30px 30px 240px;
}

.category {
    font-size: 35px;
    font-family: 'Sakura';
    margin: 20px 0px 15px 0px;
    background: #f5deb3;
    border-radius: 30px;
    padding: 10px 0px 5px 15px;
}

.dish-block {
    background: gainsboro;
    max-width: 30%;
    margin: 10px;
    height: 480px;
}

    .dish-block img {
        width: 90%;
        margin: 10px;
        height: 70%;
        object-fit: cover;
    }

.dish {
    display: flex;
    flex-wrap: wrap;
}

.dish-name {
    font-size: 20px;
    margin-left: 7px;
    font-family: -webkit-pictograph;
}

.price {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}

.selected-size {
    border: 2px solid #717171;
    border-radius: 3px;
    padding: 0px 4px;
}

.size-block {
    display: flex;
    align-items: center;
}

.size {
    font-size: 17px;
    font-family: -webkit-pictograph;
    margin: 5px;
}

.dish-size{
    cursor: pointer;
}

.weight {
    display: flex;
    font-family: -webkit-pictograph;
    margin-left: 7px;
}

.dish-block .button {
    display: flex;
    justify-content: center;
}

.button-add {
    width: 90%;
    height: 25px;
    background: #574f50;
    color: white;
    border: none;
    cursor: pointer;
}
