.main-pic {
    min-width: 100%;
    max-width: 100%;
    min-height: 800px;
}

.conteiner {
    font-family: Sakura;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150px;
}

.header-block{
    margin-bottom: -3px;
}

@font-face {
    font-family: Sakura;
    src: url(/font/4264.ttf);
}

@font-face {
    font-family: Hairline;
    src: url(/font/19554.ttf);
}

.background-img {
    min-width: 100%;
    height: 500px;
    margin-top: -3px;
}

.carousel-block {
    width: 100%;
    background: #967a55;
}

.magnolia {
    z-index: 1;
}

.menu-block,
.special-offer {
    display: flex;
    height: 600px;
    background: #967a55;
}

.menu-img {
    background: url(/images/food3.jpg) no-repeat center;
}

.special-offer-img {
    background: url(/images/cafe6.jpg) no-repeat center;
}

.menu-img,
.special-offer-img {
    width: 50%;
    background-size: 100%;
}

.menu-title,
.special-offer-title {
    font-size: 50px;
}

.menu-content,
.special-offer-content {
    width: 50%;
    color: #4d443d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text,
.special-offer-text {
    font-size: 20px;
    margin: 10px 0px 25px;
}

.menu-title-block,
.special-offer-title-block {
    width: 50%;
    font-family: Hairline;
}

.menu-content .pglogbut,
.special-offer .pglogbut {
    border: 1px solid rgb(193 172 156);
    background: rgb(115 115 115 / 29%);
    color: #4d443d;
    font-size: 15px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

/*carousel*/
.carousel-title {
    font-family: Hairline;
    font-size: 80px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    border-top: 5px solid #212121;
}
}

.animate-block {
    height: 800px;
}

    .animate-block .buttons {
        position: absolute;
        display: flex;
    }

    .animate-block .choose {
        flex: 2;
        cursor: pointer;
    }

        .animate-block .choose:hover {
            background: red;
            opacity: 0.3;
        }

    .animate-block .next-btn,
    .animate-block .prev-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex: 0.5;
    }

        .animate-block .next-btn:hover,
        .animate-block .prev-btn:hover {
            background: #000;
            opacity: 0.3;
        }

.carousel-smile {
    background: rgb(33, 33, 33);
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: none;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.dot-animate-block-style {
    text-align: center
}

.current-image {
    display: flex;
    justify-content: center;
}
/*carousel*/

.review_main_page {
    display: flex;
    justify-content: space-around;
    background: #967a55;
    border-top: 3px solid #212121;
}

    .review_main_page .message {
        font-family: 'Hairline';
        font-weight: bold;
        font-size: 30px;
        margin: 20px 0px;
    }
