@model CategoriesViewModel

<div class="category-name-block">
    @foreach(var category in Model.Categories)
    {
        <a href="#@category.Id" class="category-name">@category.Name</a>
    }
</div>