@{
    ViewData["Title"] = "Home Page";
}

<div class="main-block">
    
    <div class="header-block">
        <div class="conteiner">
            <div class="magnolia">Magnolia</div>
        </div>
        <img src="/images/cafe5.jpg" class="main-pic" />
    </div>
    <div class="carousel-block">

    </div>
</div>