@{
    ViewData["Title"] = "Home Page";
}
@section Style
{
    <link rel="stylesheet" href="~/css/button.css" />
}
@section Script
{
    <script src="~/js/carousel.js"></script>
    <script src="~/js/carousel-modul.js"></script>
}

<div class="main-block">

    <div class="header-block">
        <div class="conteiner">
            <div class="magnolia">Magnolia</div>
        </div>
        <img src="/images/cafe5.jpg" class="main-pic" />
    </div>
    <div class="menu-block">
        <div class="menu-content">
            <div class="menu-title-block">
                <h1 class="menu-title">MAGNOLIA MENU</h1>
                <p class="menu-text">
                    Gkalls annsn flid gof, asalakd fodn okrs ada
                    <br>
                    Goosf kfor asdonrp propr jank
                </p>
                <a href="/Cafe/Menu" class="link">
                    <div class="wrapper">
                        <input class="pglogbut wrapper block" type="submit" value="DISCOVER MENU" />
                    </div>
                </a>
            </div>
        </div>
        <div class="menu-img"></div>
    </div>
    <div class="special-offer">
        <div class="special-offer-img"></div>
        <div class="special-offer-content">
            <div class="special-offer-title-block">
                <h1 class="special-offer-title">SPECIAL OFFER</h1>
                <p class="special-offer-text">
                    Gkalls annsn flid gof, asalakd fodn okrs ada
                    <br>
                    Goosf kfor asdonrp propr jank
                </p>
                <a href="/Cafe/SpecialOffer" class="link">
                    <div class="wrapper">
                        <input class="pglogbut wrapper block" type="submit" value="DISCOVER SPECIAL OFFER" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="carousel-block">
        <div class="animate-block"></div>
        <div class="animate-block-dots"></div>
    </div>
</div>